<div>
  <div>
    <h1>
      <%= @the_board.name %>
    </h1>
    <hr>

    <div>
      <h2>Add a new post</h2>
    

      <form action="/insert_post" method="post">
        <label for="title_input">Title</label>
        <input id="title_input" type="text" name="query_title">
        <br>
        <label for="body_input">Body</label>
        <textarea name="query_body" id="body_input" rows="3"></textarea>
        <br>
        <label for="expires_input">Expires on</label>
        <input type="date" name="query_expires_on" id="expires_input">
        <input type="hidden" name="query_board_id" id="board_id_input" value="<%= @the_board.id %>">
        <br>
        <button>
          Add post
        </button>
      </form>

    </div>
    <hr>

    <div>
      <h2>Active posts</h2>
      <% matching_posts = Post.where({ :board_id => @the_board.id }).where("expires_on > ?", Date.today).order({ :expires_on => :asc })%>
      <table border="1">
        <tr>
        <th>Title</th>
        <th>Body</th>
        <th>Posted on</th>
        <th>Expires on</th>
        </tr>

        
        <% matching_posts.each do |a_post| %>
        <tr>
          <td>
            <%= a_post.title %>
          </td>
          <td>
            <%= a_post.body %>
          </td>
          <td>
            <%= a_post.created_at.strftime("%b %e, %Y")%>
          </td>
          <td>
            <%= a_post.expires_on.strftime("%b %e, %Y") %>
          </td>
        </tr>
        <% end %>
      </table>

    </div>

     <div>
      <h2>Expired posts</h2>
      <% matching_posts = Post.where({ :board_id => @the_board.id }).where("expires_on < ?", Date.today).order({ :expires_on => :asc })%>
      <table border="1">
        <tr>
        <th>Title</th>
        <th>Body</th>
        <th>Posted on</th>
        <th>Expires on</th>
        </tr>

        
        <% matching_posts.each do |a_post| %>
        <tr>
          <td>
            <%= a_post.title %>
          </td>
          <td>
            <%= a_post.body %>
          </td>
          <td>
            <%= a_post.created_at.strftime("%b %e, %Y")%>
          </td>
          <td>
            <%= a_post.expires_on.strftime("%b %e, %Y") %>
          </td>
        </tr>
        <% end %>
      </table>

    </div>

</div>

<hr>
